<h1>Listado de usuarios</h1>
<br>
<button type="button" class="btn btn-primary" (click)="AgregarUsuario">Agregar usuario</button>
<br>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Genero</th>
        <th scope="col">Estatus</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{usuario.id}}</th>
        <td>{{usuario.name}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.gender}}</td>
        <td>{{usuario.status}}</td>
        <td><button type="button" class="btn btn-outline-info" (click)="ObtenerInformacionUsuario(usuario.id)">Informacion</button>  
            <button type="button" class="btn btn-outline-warning" (click)="ActualizarUsuario(usuario.id)">Actualizar</button>
            <button type="button" class="btn btn-outline-danger" (click)="EliminarUsuario(usuario.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
